HeaderFilterRegex: '^(?!external/)'
Checks: >
    -*>,
    readability-identifier-naming

WarningsAsErrors: false

CheckOptions:
    # Classes/Structures
    - key: readability-identifier-naming.ClassCase
      value: CamelCase
    - key: readability-identifier-naming.StructCase
      value: CamelCase

    # Methods
    - key: readability-identifier-naming.MethodCase
      value: camelBack   # = lowerCamelCase

  # Outer functions (optional)
    - key: readability-identifier-naming.FunctionCase
      value: camelBack

  # Class/Struct vars (with suffix _)
    - key: readability-identifier-naming.MemberCase
      value: lower_case
    - key: readability-identifier-naming.MemberSuffix
      value: _

  # Const
    - key: readability-identifier-naming.ConstantCase
      value: UPPER_CASE

  # Enums
    - key: readability-identifier-naming.EnumCase
      value: CamelCase
    - key: readability-identifier-naming.EnumConstantCase
      value: CamelCase

  # Parameters, local vars (optional)
    - key: readability-identifier-naming.ParameterCase
      value: lower_case
    - key: readability-identifier-naming.VariableCase
      value: lower_case
