# Binary Files
*.o
*.out
*.exe

# Build Catalog
build/
bin/
obj/
cmake-build-*/

# Log Catalog
logs/

# Generated data
data/grades.txt
test_tmp_cfg_json

# Version file
include/Version.hpp

# Tests
build/tests/

# Documentation
/docs/
*.dox

# Doxygen output HTML
/html/

# Backups and other
*~
*.swp
*.bak
.DS_Store
