# Binary Files
*.o
*.out
*.exe

# Build Catalog
build/
bin/
obj/
cmake-build-*/

# Log Catalog
logs/

# Version file
include/version.h

# Tests
build/tests/

# Documentation
/docs/
*.dox

# Doxygen output HTML
/html/

# Backups and other
*~
*.swp
*.bak
.DS_Store
